/* Custom Styles */
.input-edit-form {
  outline: none;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 0.3rem 1rem;
}
.order-item {
  border: 1px solid lightgray;
  padding: 1rem 0.5rem;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.swiper-pagination-bullet {
  background-color: rgb(88, 88, 88);
  padding: 4px;
}
.active-sidebar-item {
  background: #6faafd;
  color: white;
  border-radius: 24px;
  border-end-end-radius: 18px;
  border-start-end-radius: 18px;
}
/* grid area */
.layout-dashboard {
  grid-template-areas:
    "iPink iPink"
    "iGold wallet"
    "airpods iBlue";
}
.area-iPhone-pink {
  grid-area: iPink;
}

.area-iPhone-gold {
  grid-area: iGold;
}

.area-iPhone-wallet {
  grid-area: wallet;
}

.area-airpods {
  grid-area: airpods;
}

.area-iPhone-blue {
  grid-area: iBlue;
}

@media (width > 800px) {
  .layout-dashboard {
    grid-template-areas:
      "iGold iPink iPink"
      "wallet airpods iBlue";
  }
}

@theme {
  --color-lightGray: #f5f5f7;
  --font-vazir: "Vazir", "sans-serif";
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir.woff2") format("woff2"),
    url("/fonts/Vazir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
